<div class="container-fluid">
  <div *ngIf="this.slideNumber == 1">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive prettyimage" (click)="showSlide(2)" src="../../../assets/Images/owin.png">
      </div>
      <div class="col-lg-6">
        <h3>Server conforms to OWIN Standard</h3>
        <h4>Application is hosted by dotnet.exe or IIS</h4>
        <h4>Kestrel is the web server created for ASP.NET Core</h4>
        <h4>Middleware is configured for MVC SPA with Authentication</h4>
        <h4>Application consists of controllers and services</h4>
      </div>
    </div>
  </div>
  <div *ngIf="this.slideNumber == 2">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-responsive prettyimage" (click)="showSlide(1)" src="../../../assets/Images/server side overview.png">
      </div>
      <div class="col-lg-6">
        <h3>ASP.NET Core Server </h3>
        <h4>Working Solution provided by template</h4>
        <h4>Program.cs</h4>
        <h5>Configures logging</h5>
        <h5>Creates the Web host based on Startup.cs</h5>
        <h4>Startup.cs</h4>
        <h5>Configure() - Configures the request pipeline middleware</h5>
        <h5>ConfigureServices() - Configures the services available to the controllers</h5>
        <h4>Controllers</h4>
        <h5>Every request is handled by constructing a controller</h5>
        <h4>Custom Services</h4>
         <h5>Scoped, Transient, Singleton</h5>
         <h5>Injected into Controllers on construction</h5>
        <h4>IDataCenterLib Implementations</h4>
          <h5>DataCenterLive - talks to iC Data Center</h5>
          <h5>DataCenterSimulated - simulates iC Data Center</h5>
        
      </div>
    </div>
  </div>

</div>
