.header-bar-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 3;
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .header-bar-main-nav {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 3;
  }
}

li .glyphicon {
  margin-right: 10px;
}

a .glyphicon {
  margin-left: 0px;
  margin-right: 10px;
}

a:hover {
  float: left;
  padding: 9.5px 15px;
  font-size: 19px;
  line-height: 21px;
  height: 40px;
  text-decoration: underline;
}

.userName a:hover {
  color: #31b0d5;
  text-decoration: underline;
}

.userName,
.userName a:focus {
  color: #5bc0de;
  text-decoration: none;
}

.adminName a:hover {
  color: #c9302c;
  text-decoration: underline;
}

.adminName,
.adminName a:focus {
  color: #d9534f;
  text-decoration: none;
}

.guestName a:hover {
  color: #f0ad4e;
  text-decoration: underline;
}

.guestName,
.guestName a:focus {
  color: #ec971f;
  text-decoration: none;
}

.headerUserStyle {
  float: left;
  padding: 9.5px 15px;
  font-size: 19px;
  line-height: 21px;
  height: 40px;
}
