<div class="container-fluid">

  <h3>ASP.NET Core (MVC, SPA and Razor)</h3>

  <nav class="navbar navbar-default navbar-static-top" style="margin-top: 15px;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active': slideNumber == 1}"><a (click)="showSlide(1)">ASP.NET Core</a></li>
        <li [ngClass]="{'active': slideNumber == 2}"><a (click)="showSlide(2)">ASP.NET Core MVC SPA</a></li>
        <li [ngClass]="{'active': slideNumber == 3}"><a (click)="showSlide(3)">Razor Engine</a></li>
        <li [ngClass]="{'active': slideNumber == 4}"><a (click)="showSlide(4)">Razor Example</a></li>
        <li [ngClass]="{'active': slideNumber == 5}"><a (click)="showSlide(5)">Silverlight Replacement</a></li>
      </ul>
    </div>
  </nav>

  <div style="margin-top: 15px; margin-left: 30px;">

    <div *ngIf="this.slideNumber == 1">
      <h4>ASP.NET Core (2.1)</h4>
      <h5>Create a web based solution built on top of .NET Core</h5>
      <h5>Conforms to the OWIN standard.</h5>
      <img class="img-responsive prettyimage" src="../../../assets/Images/owin.png">
    </div>
  </div>
  <div *ngIf="this.slideNumber == 2">
    <h4>MVC ASP.NET Core 2.1 SPA Architecture</h4>
    <h5>User navigates to home page; Kestrel server constructs home controller.</h5>
    <h5>Home controller returns entire application.</h5>
    <h5>Controllers are constructed as needed to handle requests from the browser.</h5>
    <img class="img-responsive prettyimage" src="../../../assets/Images/SPA ASP.NET Core MVC.png">
  </div>

  <div *ngIf="this.slideNumber == 3">
    <h4>Razor engine (for traditional MVC page based application)</h4>
    <h5>C# code embedded with HTML in cshtml file.</h5>
    <img class="img-responsive prettyimage" src="../../../assets/Images/razor.png">
  </div>
  <div *ngIf="this.slideNumber == 4">
    <h4>Razor example</h4>
    <h5>Razor is not a programming language. It's a server side markup language.</h5>
    <h5>
      <a href="https://www.w3schools.com/asp/razor_intro.asp">https://www.w3schools.com/asp/razor_intro.asp</a>
    </h5>
    <img class="img-responsive prettyimage" src="../../../assets/Images/razor example.png">
  </div>
  <div *ngIf="this.slideNumber == 5">
    <h4>The SilverLight client maps well to Angular / ASP.NET Core MVC</h4>
    <img class="img-responsive prettyimage" src="../../../assets/Images/Silverlight replacement.png">
  </div>
</div>
