<div class="container-fluid">

  <h3>.Net Platforms</h3>

  <div *ngIf="this.slideNumber == 1">
    <img class="img-responsive prettyimage" (click)="showSlide(2)" src="../../../assets/Images/dotnet frameworks 1.png">
  </div>
  <div *ngIf="this.slideNumber == 2">
    <img class="img-responsive prettyimage" (click)="showSlide(3)" src="../../../assets/Images/dotnet frameworks 2.png">
  </div>
  <div *ngIf="this.slideNumber == 3">
    <h4>What is .NET Core (2.1) ?</h4>
    <h5>Cross platform (Windows, Mac, Linux) open source (GitHub) implementation of .NET Standard</h5>
    <h5>Deploy (publish) as either framework dependent (FDD) or self contained (SCD)</h5>
    <img class="img-responsive prettyimage" (click)="showSlide(1)" src="../../../assets/Images/core.png">
  </div>
</div>
