<div class="container-fluid">
  <h3>Useful links for more information</h3>

    <h4>Styling with Bootswatch SuperHero 3.3.7</h4>
      <h5>
        <a href="https://bootswatch.com/3/superhero/">Superhero web site</a>
      </h5>

    <h4>Learning all about angular 5</h4>
      <h5>
        <a href="https://v5.angular.io/docs">Angular 5 web site</a>
      </h5>

    <h4>Useful downloads for .NET CORE 2</h4>
      <h5>
        <a href="https://www.microsoft.com/net/download">.NET Core SDK Download</a>
      </h5>

</div>
