<div class="container-fluid">
  <div *ngIf="this.slideNumber == 1" (click)="showSlide(2)">
    <h3>Angular</h3>
    <h5>Framework develped by Google for Gmail, etc.</h5>
    <h5>Supported by modern browsers (Edge, Chrome, Firefox, Safari)</h5>
    <h6>"polyfils" are needed for IE 9, 10, 11</h6>
    <h4>History</h4>
    <table class="table table-bordered" style="width:300px; margin-left:60px;">
      <tr><td>AngularJS</td><td>October, 2010</td></tr>
      <tr><td>Angular 2.0</td><td>May, 2016 (complete rewrite)</td></tr>
      <tr><td>Angular 4.0</td><td>March, 2017</td></tr>
      <tr><td>Angular 5.0</td><td>November, 2017 (dotnet default)</td></tr>
      <tr><td>Angular 6.0</td><td>May, 2018</td><td></td></tr>
      <tr><td>Angular 7.0</td><td>October, 2018</td></tr>
    </table>
  </div>
  <div *ngIf="this.slideNumber == 2">
    <demo-1 [name]="myName"></demo-1>
    <div class="row" (click)="showSlide(3)">
      <div class="col-lg-7">
        <p style="margin-top:10px;">demo-1.ts</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo1ts.png">
        <p style="margin-top:10px;">demo-1.html</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo1html.png">
      </div>
      <div class="col-lg-5">
        <p style="margin-top:10px;">demo-1.css</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo1css.png">
        <p style="margin-top:10px;">Using the component</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/usedemo1.png">

      </div>

    </div>
  </div>
  <div *ngIf="this.slideNumber == 3">
    <demo-2></demo-2>
    <div class="row" (click)="showSlide(4)">
      <div class="col-lg-5">
        <p style="margin-top:10px;">demo-2.ts</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo2ts.png">
      </div>
      <div class="col-lg-7">
        <p style="margin-top:10px;">demo-2.html</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo2html.png">
      </div>

    </div>
  </div>
  <div *ngIf="this.slideNumber == 4" (click)="showSlide(5)">
    <img class="img-responsive prettyimage" src="../../../assets/Images/experimentcounterservice.png">
  </div>
  <div *ngIf="this.slideNumber == 5">
    <demo-3></demo-3>
    <div class="row" (click)="showSlide(1)">
      <div class="col-lg-9">
        <p style="margin-top:10px;">demo-3.ts</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo3ts.png">
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo3html.png">
      </div>
      <div class="col-lg-3">
        <p style="margin-top:10px;">demo-3.html</p>
        <img class="img-responsive prettyimage" src="../../../assets/Images/demo3css.png">
      </div>

    </div>
  </div>
</div>

