<div class="container-fluid">
  <div class="row">
    <h2>{{title}}</h2>
  </div>

  <nav class="navbar navbar-default navbar-static-top" style="margin-top: 15px;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active': slideNumber == 1}"><a (click)="showSlide(1)">Intro</a></li>
        <li [ngClass]="{'active': slideNumber == 2}"><a (click)="showSlide(2)">.NET Platforms</a></li>
        <li [ngClass]="{'active': slideNumber == 3}"><a (click)="showSlide(3)">MVC</a></li>
        <li [ngClass]="{'active': slideNumber == 4}"><a (click)="showSlide(4)">ASP.NET Core</a></li>
        <li [ngClass]="{'active': slideNumber == 5}"><a (click)="showSlide(5)">StepStone</a></li>
        <li [ngClass]="{'active': slideNumber == 6}"><a (click)="showSlide(6)">Demo</a></li>
        <li [ngClass]="{'active': slideNumber == 7}"><a (click)="showSlide(7)">Server Side</a></li>
        <li [ngClass]="{'active': slideNumber == 8}"><a (click)="showSlide(8)">Front End</a></li>
        <li [ngClass]="{'active': slideNumber == 9}"><a (click)="showSlide(9)">More Info</a></li>
      </ul>
    </div>
  </nav>



  <div style="margin-top: 15px; margin-left: 30px;"> 
    <div *ngIf="this.slideNumber == 1">
      <slide-intro></slide-intro>
    </div>
    <div *ngIf="this.slideNumber == 2">
      <slide-dotnet></slide-dotnet>
    </div>
    <div *ngIf="this.slideNumber == 3">
      <slide-introduction-mvc></slide-introduction-mvc>
    </div>
    <div *ngIf="this.slideNumber == 4">
      <slide-introduction-core></slide-introduction-core>
    </div>
    <div *ngIf="this.slideNumber == 5">
      <slide-overview></slide-overview>
    </div>
    <div *ngIf="this.slideNumber == 6">
      <slide-demo></slide-demo>
    </div>
    <div *ngIf="this.slideNumber == 7">
      <slide-server-side></slide-server-side>
    </div>
    <div *ngIf="this.slideNumber == 8">
      <slide-angular></slide-angular>
    </div>
    <div *ngIf="this.slideNumber == 9">
      <slide-summary></slide-summary>
    </div>
  </div>
</div>



