<div class="container-fluid">

<h3>Developing a web based application: ASP.NET Core 2 MVC SPA using Angular</h3>

  <h4>Web Based Application</h4>

    <h5>Applicationwill execute in a web browser, obtain data from a remote server.  iC Data Center client is an example.</h5>

  <h4>ASP.Net Core 2</h4>

    <h5>Targeting .Net Core 2.1 – run anywhere version of .Net</h5>

    <h5>Can run on Windows, Linus or Mac</h5>

    <h5>Can run in the cloud (Azure)</h5>

    <h5>Can run on an IoT device (Windows Core IoT)  (Raspberry Pi)</h5>

  <h4>MVC (Model – View – Controller)</h4>

    <h5>View in the web browser HTML, CSS, Javascript</h5>

    <h5>Model is the data available from the back end server</h5>

    <h5>Controller is executing in the backend server (tied to a URL path)</h5>

  <h4>SPA (Single Page Architecture)</h4>

    <h5>Not the tradition click link, loads new page</h5>

    <h5>Application is a single page with many components</h5>

  <h4>Angular</h4>

    <h5>One of the 3 popular frameworks for building SPA applications</h5>

      <h6>Angular (Google)</h6>

      <h6 >React (by Facebook, also used by Netflix)</h6>

      <h6>Vue – created by an individual, but not has an entire team</h6>

    <h5>This is a religion type debate, but I selected Angular because</h5>

      <h6>Full featured (no other libraries for DOM management, caching, etc.)</h6>

      <h6>TypeScript – typed version of JavaScript</h6>

      <h6>&quot;Angular way&quot; is similar to how we develop C#</h6>

</div>
