<div class="container-fluid">

  <h3>Background (.NET Core and ASP.NET Core MVC)</h3>

  <nav class="navbar navbar-default navbar-static-top" style="margin-top: 15px;">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li [ngClass]="{'active': slideNumber == 1}"><a (click)="showSlide(1)">MVC</a></li>
        <li [ngClass]="{'active': slideNumber == 2}"><a (click)="showSlide(2)">MVC SPA</a></li>


      </ul>
    </div>
  </nav>

  <div *ngIf="this.slideNumber == 1">
    <h4>MVC Traditional Architecture</h4>
    <h5>User navigates to home page; server returns the home page.</h5>
    <h5>User navigates to another page; server generates and returns another HTML page.</h5>
    <h5>Controllers within the web server acesss the model to generate HTML pages.</h5>
    <img class="img-responsive prettyimage" src="../../../assets/Images/tradition web based MVC.png">
  </div>
  <div *ngIf="this.slideNumber == 2">
    <h4>MVC Single Page Application Architecture</h4>
    <h5>User navigates to home page; server returns an entire application.</h5>
    <h5>Application displays home view.</h5>
    <h5>Views request view models (json) from the web server.</h5>
    <img class="img-responsive prettyimage" src="../../../assets/Images/SPA web based MVC.png">
  </div>

</div>
